.video {
    /* width: 2375px; 
    height: 1336px; 
    left: -586.5px; 
    top: 0px; 
    display: block; */

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.logoContainer {
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: center;
}

.logo {

    height: 20rem;
    width: auto;

}