.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    justify-content:space-evenly;
    align-items: center;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.logo-and-navbar {
    /* display: flex;
    justify-content: space-around; */
}

.navImg {
    align-self: flex-start;
    height: 160px;
    width: 200px;
    margin-left: 10px;
}